html,body {
  width: 100%;
  height: 100%;
}

body {
  margin-top: 0;
  background-color: lavender;
}

    header {
      padding-bottom: 1em;
      text-align: center;
    }

        header>h2 {
          margin-top: 0;
          margin-bottom: 0;
          padding-top: .2em;
        }

        #headerBackImg {
          left: 0;
          width: 100%;
          height: 12em;
          position: absolute;
          filter: blur(2px);
          z-index: -1;
        }

        #headerOverlay {
          left: 0;
          width: 100%;
          height: 12em;
          position: absolute;
          z-index: -2;
        }

    #partialIndexContainer {

    }

        #cardContainer {
          margin-top: 5%;
          margin-left: auto;
          margin-right: auto;
          width: 400px;
          text-align: center;
        }

            #oauthLinkContainer {

            }

                #oauthLinkContainer>div {
                  width: 60%;
                  margin: 0 auto;
                }

                    #oauthLinkContainer>div>a {
                      margin: 0 auto;
                    }

    #partialGameContainer {

    }

        #problemStatement {
          background-color: white;
          padding: 1.5em;
          border-radius: 15px;
          font-size: 18px;
        }

            #instructionBtnContainer {
              display: flex;
              align-items: flex-start;
              justify-content: center;
            }

                #instructionBtn {
                  margin-top: 1em;
                }

                #instructionContent {
                  margin-top: 1em;
                  display: none;
                }

                    .instrSpan {
                      font-weight: bold;
                      font-size: 20px;
                    }

        #playerScoreContainer {
          padding-left: 2em;
          padding-right: 2em;
        }

            #playerScoreContainer>h3 {
              text-align: center;
              margin-top: 0;
            }

            #gameRecords {
              width: 60%;
              margin-left: 1.5em;
            }

                #gamesPlayedTally {
                  float: right;
                }

                #gamesWonTally {
                  float: right;
                }

            #signOutContainer {
              margin-top: 2em;
              display: flex;
              align-items: flex-start;
              justify-content: center;
            }

        #fruitContainerHidden {
          margin-left: auto;
          margin-right: auto;
          display: none;
          align-items: flex-start;
          justify-content: space-between;
          visibility: hidden;
        }

        #fruitContainer {
          margin-left: auto;
          margin-right: auto;
          display: flex;
          align-items: flex-start;
          justify-content: space-between;
        }

            .fruitSelectors {
              width: 70px;
            }

            #mixedFruitCanvas {
              display: none;
            }

        #bucketContainer {
          margin-top: 3em;
          margin-left: auto;
          margin-right: auto;
          display: flex;
          align-items: flex-start;
          justify-content: space-between;
        }

            .bucketInd {
              text-align: center;
            }

                .bucket {
                  width: 100px;
                }

                    .bucket:hover {
                      cursor: pointer;
                    }

        #submissionContainer {
          margin-top: 3em;
          padding-bottom: .7em;
          text-align: center;
        }

            #submissionContainer>p {
              text-align: center;
            }

        .modal-content {
          background-size: cover;
          padding-bottom: 10em;
        }

        #mobileScoreContainer {
          display: none;
        }

            #historyScoreContainer {
              width: 99.5%;
              height: 460px;
              max-height: 460px;
              overflow: scroll;
            }

                #historyScoreContainer>h3 {
                  text-align: center;
                  margin-top: 0;
                }

    footer {
      width: 100%;
      padding-top: .5em;
      padding-bottom: .5em;
      background-color: teal;
      font-weight: bold;
      text-align: center;
    }

    #desktopFooterIndex {
      display: block;
      position: absolute;
      bottom: 0;
    }

    #ipadFooterIndex {
      display: none;
    }

    #mobileFooterIndex {
      display: none;
    }

    #desktopFooterGame {
      display: block;
    }

    #ipadFooterGame {
      display: none;
    }

    #mobileFooterGame {
      display: none;
    }

    @media screen and (max-width: 992px) {
      #cardContainer {
        margin-top: 25%;
      }

      #desktopScoreContainer {
        display: none;
      }

      #mobileScoreContainer {
        margin-top: 3em;
        display: block;
      }

          #gameRecords {
            width: 70%;
          }

      #historyContainer {
        margin-top: 4em;
      }

      #ipadFooterIndex {
        position: absolute;
        bottom: 0;
        display: block;
      }

      #desktopFooterIndex {
        display: none;
      }

      #mobileFooterIndex {
        display: none;
      }

      #ipadFooterGame {
        display: block;
      }

      #desktopFooterGame {
        display: none;
      }

      #mobileFooterGame {
        display: none;
      }
    }

    @media screen and (max-width: 600px) {
      #headerBackImg {
        height: 16em;
      }

      #headerOverlay {
        height: 16em;
      }

      #cardContainer {
        margin-top: 2em;
      }

      #mobileFooterIndex {
        display: block;
      }

      #ipadFooterIndex {
        display: none;
      }

      #desktopFooterIndex {
        display: none;
      }

      #mobileFooterGame {
        display: block;
      }

      #ipadFooterGame {
        display: none;
      }

      #desktopFooterGame {
        display: none;
      }
    }

