<div id='partialGameContainer' class='container-fluid'>
  <section class='row'>
    <div class='container-fluid' id='instructionBtnContainer'>
      <button class='btn waves-effect waves-blue pulse grey lighten-4 red-text' id='instructionBtn'>Instructions</button>
    </div>
    <div class='col s12 m12' id='instructionContent'>
      <div class='container z-depth-3' id='problemStatement'>
        <p><span class='instrSpan'>Problem:</span> There are three boxes of fruit. One box is full of Oranges only.
          A second box is full of Apples only. A third box is a random mix of both.
          But all three boxes are mislabelled. For example, the box labelled "Apples"
          may very well be only oranges, or have both oranges and apples.
        </p>
        <p>
          <span class='instrSpan'>Objective:</span> Determine the correct
            contents of all three buckets by revealing one fruit only from one bucket only.
            If you choose correctly you will be able to determine the correct contents
            of all three buckets.
        </p>
        <a class="btn tooltipped" data-position="right" data-delay="50"
          data-tooltip='Hint: The buckets are mislabelled, so remember that the "apples" bucket cannot contain apples.'>Hint!</a>
      </div>
    </div>
  </section>

  <section class='row'>
    <div class='col s12 m4'>
      <div class='container-fluid' id='playerScoreContainer'>
        <h3 style='text-decoration: underline;'>Player Details</h3>
        <div class='container-fluid'>
          <h4>Player: {{player.fullName}}</h4>
          <div class='container-fluid'>
            <h5>Games Played: {{player.score.gamesPlayed}}</h5>
            <h5>Games Won: {{player.score.gamesWon}}</h5>
          </div>
          <div class='container-fluid' id='historyBtnContainer'>
            <button class='btn waves-effect waves-teal grey lighten-3 black-text'>Score History</button>
          </div>
        </div>
      </div>
    </div>
    <div class='col s12 m4'>
      <form>
        <div id='fruitContainer'>
          <canvas id='mixedFruitCanvas' width='80px' height='42px'></canvas>
          <img src='./assets/images/Apple.png' alt='APPLE' class='fruitSelectors' draggable='true' id='apple'>
          <div id='mixedFruitContainer'></div>
          <img src='./assets/images/Orange.png' alt='ORANGE' class='fruitSelectors' draggable='true' id='orange'>
        </div>
        <div id='bucketContainer'>
          <div class='bucketInd'>
            <img src="../assets/images/bucket.png" alt="bucket" class='responsive-img bucket' draggable='false'>
            <h5>{{bucketOne}}</h5>
          </div>
          <div class='bucketInd'>
            <img src="../assets/images/bucket.png" alt="bucket" class='responsive-img bucket' draggable='false'>
            <h5>{{bucketTwo}}</h5>
          </div>
          <div class='bucketInd'>
            <img src="../assets/images/bucket.png" alt="bucket" class='responsive-img bucket' draggable='false'>
            <h5>{{bucketThree}}</h5>
          </div>
        </div>
        <div class='container-fluid' id='submissionContainer'>
          <p>*Note: Enter email address to submit.</p>
          <div class="input-field">
            <input id="email" type="email" class="validate black-text" required>
            <label for="email" class='teal-text'>Email</label>
          </div>
          <button class='btn waves-effect' type='submit'>Submit Answer</button>
        </div>
      </form>
    </div>
  </section>
</div>

