<div id='partialGameContainer' class='container-fluid'>
  <section class='row' id='sectionOne'>
    <div class='container-fluid' id='instructionBtnContainer'>
      <button class='btn waves-effect waves-blue pulse grey lighten-4 red-text' id='instructionBtn'>Instructions</button>
    </div>
    <div class='col s12 m12' id='instructionContent'>
      <div class='container z-depth-3' id='problemStatement'>
        <p><span class='instrSpan'>Problem:</span> There are three boxes of fruit. One box is full of Oranges only.
          A second box is full of Apples only. A third box is a random mix of both.
          But all three boxes are mislabelled. For example, the box labelled "Apples"
          may very well be only oranges, or have both oranges and apples.
        </p>
        <p>
          <span class='instrSpan'>Objective:</span> Determine the correct
            contents of all three buckets by revealing one fruit only from one bucket only.
            If you choose correctly you will be able to determine the correct contents
            of all three buckets.
        </p>
        <p>
          <span class='instrSpan'>How-To-Play:</span> Start by clicking on a bucket image.
            Remove the mouse from over the bucket and then hover over the bucket that you
            selected. A hint will appear and tell you what fruit is actually in the bucket.
            You only get one hint, so choose wisely. Next hover over any of the 3 fruits above
            and click and hold that fruit. You can then drop the fruit in to any of the 3 buckets.
            Once all 3 buckets have been filled, enter the email address associated with your
            account and press the submit button.
        </p>
        <a class="btn tooltipped" data-position="right" data-delay="50"
          data-tooltip='Hint: The buckets are mislabelled, so remember that the "apples" bucket cannot contain apples.'>Hint!</a>
      </div>
    </div>
  </section>

  <section class='row' id='sectionTwo'>
    <div class='col l4' id='desktopScoreContainer'>
      <div class='container-fluid' id='playerScoreContainer'>
        <h3 style='text-decoration: underline;'>Player Details</h3><br>
        <div class='container-fluid'>
          <h4>Player: {{player.fullName}}</h4><br>
          <div class='container-fluid' id='gameRecords'>
            <h5>Games Played: <span id='gamesPlayedTally'>{{player.score.gamesPlayed}}</span></h5>
            <h5>Games Won: <span id='gamesWonTally'>{{player.score.gamesWon}}</span></h5>
          </div>
          <div id='signOutContainer'>
            <a href="https://thawing-tor-23519.herokuapp.com/" class='btn waves-effect waves-teal grey lighten-4 black-text' id='signOutBtn'>
              Sign Out
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class='col s12 m12 l4'>
      <form id='gameFormContainer'>
        <div id='fruitContainer'>
          <canvas id='mixedFruitCanvas' width='80px' height='42px'></canvas>
          <img src='./assets/images/Apple.png' alt='APPLE' class='fruitSelectors' draggable='true' id='apple'>
          <div id='mixedFruitContainer'></div>
          <img src='./assets/images/Orange.png' alt='ORANGE' class='fruitSelectors' draggable='true' id='orange'>
        </div>
        <div id='fruitContainerHidden'>
          <img src='./assets/images/Apple.png' alt='APPLE' width='70px'>
          <img src='./assets/images/Orange.png' alt='ORANGE' width='70px'>
        </div>
        <div id='bucketContainer'>
          <div class='bucketInd' id='bucketIndOne'>
            <img src="../assets/images/bucket.png" alt="bucket" class='responsive-img bucket' draggable='false'>
            <h5>{{bucketOne}}</h5>
          </div>
          <div class='bucketInd' id='bucketIndTwo'>
            <img src="../assets/images/bucket.png" alt="bucket" class='responsive-img bucket' draggable='false'>
            <h5>{{bucketTwo}}</h5>
          </div>
          <div class='bucketInd' id='bucketIndThree'>
            <img src="../assets/images/bucket.png" alt="bucket" class='responsive-img bucket' draggable='false'>
            <h5>{{bucketThree}}</h5>
          </div>
        </div>
        <div class='container-fluid' id='submissionContainer'>
          <p style='font-weight: bold;'>*Note: Enter email address to submit.</p>
          <div class="input-field">
            <input id="gameEmail" type="email" class="validate black-text" required>
            <label for="email" class='teal-text'>Email</label>
          </div>
          <button class='btn waves-effect' id='gameSubmitBtn' type='submit'>Submit Answer</button>
          <button class='btn modal-trigger' data-target='modal1' id='modalBtn' style='display: none;'></button>
        </div>
        <!-- Modal Structure -->
        <div id="modal1" class="modal">
          <div class="modal-content"><br>
            <h4 style='font-weight: bold;'>{{gameResponse.header}}</h4><br>
            <h5 class='center' style='font-weight: bold;'>{{gameResponse.cont}}</h5>
            <br><br>
          </div>
        </div>
      </form>
    </div>

    <div class='col s12 m12' id='mobileScoreContainer'>
      <div class='container-fluid' id='playerScoreContainer'>
        <h3 style='text-decoration: underline;'>Player Details</h3>
        <div class='container-fluid'>
          <h4>Player: {{player.fullName}}</h4>
          <div class='container-fluid' id='gameRecords'>
            <h5>Games Played: <span id='gamesPlayedTally'>{{player.score.gamesPlayed}}</span></h5>
            <h5>Games Won: <span id='gamesWonTally'>{{player.score.gamesWon}}</span></h5>
          </div>
        </div>
      </div>
    </div>

    <div class='col s12 m12 l4' id='historyContainer'>
      <div class='container-fluid' id='historyScoreContainer'>
        <h3 style='text-decoration: underline;'>Game History</h3><br>
        <table class='striped' id='historyContent'>
          <thead>
            <tr>
              <th>Your Answers</th>
              <th>Correct Answers</th>
              <th>Win/Lose</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="record in playerRecordArr" emit-last-repeater-element>
              <td>{{record.submittedAnswers}}</td>
              <td>{{record.correctAnswers}}</td>
              <td>{{record.result}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

  </section>
</div>

<footer class='container-fluid' id='desktopFooterGame'>
  <p>Developer: Justin Samuels &copy;2017</p>
</footer>

<footer class='container-fluid' id='ipadFooterGame'>
  <p>Developer: Justin Samuels &copy;2017</p>
</footer>

<footer class='container-fluid' id='mobileFooterGame'>
  <p>Developer: Justin Samuels &copy;2017</p>
</footer>


